@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {

  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ecf0f1;

}

header {
  position: sticky;
  top: 0;
  left: 0;
  height: 70px;

  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 

  width: calc(100%);
  background-color: rgba(64, 64, 122,1.0);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
}

#logo {

  height: 90%;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;

}

#logo img { height: 100%; margin-right: 20px;}

#header-buttons {

  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  height: 100%;

}

.header-button {

  font-size: 20px;
  color: white;
  transition: all 0.2s linear;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

}

.img {

  margin: 10px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-image: url("../ressource/logo.jpg");
  background-position: center;
  background-size: 200px 100px;
  background-repeat: no-repeat;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

}

nav {

  height: 0;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;

  position: absolute;
  top: 70px;
  background-color: rgb(226, 230, 231, 1);
  border-radius: 0 0 15px 15px;
  transition: all 0.2s linear;
  width: 210px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);

}

nav ul { padding-inline-start: 30px; }

header li {
  list-style-type: "📙 ";
  margin-bottom: 10px;
  cursor: pointer;
}

header li:hover { list-style-type: "📖 "; }
header a { text-decoration: none; color: inherit; }

#maj-nav { right: 750px; }
#quizz-nav { right: 500px; }
#appr-nav { right: 0px; }

.header-section { height: 100%; width: 250px; transition: all 0.5s linear; }

.header-section:hover { background-color: rgba(51, 51, 115,1.0); }

.header-section:hover nav {

  height: 150px;
  padding: 20px;
  padding-top: 5px;

}

button {

  transition: all 0.2s linear;
  padding: 20px;
  border-radius: 50px;
  width: 250px;
  font-size: 20px;
  font-family: 'Patua One', cursive;
  color: rgba(84, 84, 142,1.0);
  margin: 40px;
  margin-left: calc(50% - 125px);
  border: solid 2px #ecf0f1;
  background-color: #ecf0f1;
  cursor: pointer;
  outline: none;

}

button:hover {
  background-color: rgba(84, 84, 142,1.0);
  color: #ecf0f1;
}

        ul
        {
            list-style-type: none;
        }

        img
        {
            margin: 0;
            padding: 0;
            border: none;
        }

        #container a
        {
            color: #365fa0;
            text-decoration: none;
            font-weight: 700;
        }

        .mauto
        {
            background-color: #696969;
            margin: auto;
        }

        .odd
        {
            background-color: #e7ebf2;
        }

        .liste
        {
            width: 100%;
        }

        .liste.listeborder td
        {
            border: 1px solid black;
        }
        
        .liste tr
        {
            border-bottom: 1px solid black;
        }

        .acenter
        {
            text-align: center !important;
        }

        .vmiddle
        {
            vertical-align: middle !important;
        }

        .classements .image
        {
            width: 120px;
        }

        .liste td.left
        {
            padding-left: 6px;
            text-align: left;
        }

        .vtop
        {
            vertical-align: top !important;
        }

        #page
        {
            position: relative;
            z-index: 3;
            width: 1080px;
        }

        #container
        {
            text-align: left;
            background: #d9e3f5;
            border-left: 1px solid #2a4575;
            border-right: 1px solid #2a4575;
            margin: 5px;
            padding: 5px;
            min-height: 430px;
        }

        table
        {
            width: 100%;
            margin: 5px;
            text-align: center;
            overflow: auto;
        }

        p
        {
            margin: 5px;
            font-size: 12px;
        }

        .table-line
        {
            background-color: #2ecc71;
            padding: 10px;
            border: none;
        }

        .type_pos, .pos_nb_vol
        {
            width: 95px;
        }

        .type, .nb_vol
        {
            font-weight: 700;
            font-size: 12px;
        }

        #title
        {
            font-size: 12px;
        }